<div class="container">
<div class="row">
	<div class="col-md-8">
<h1>New "Tweet"</h1>
		<%= render 'form', tweet: @tweet %>
	</div>
	<div class="col-md-1">
	</div>
	<div class="col-md-3">
		<%= render "epiccenter/user_profile.html.erb" %>
	</div>

<%= link_to 'Back', root_path, class: "link"%>
</div>
</div>